@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Faster+One|Monoton|Press+Start+2P');
@import url('https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css');

body {
	background-color:#fff;
	font-family: 'Helvetica';

	padding-bottom: 40px;
}

h1 {
	font-family: 'Helvetica';
	font-size: 80px;
	text-align: center;
	color: #fff;
}

h2 {
	font-family: 'Helvetica';
}

.navbar-inverse {
	background-color: #333;
}

.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
	border-bottom: 1px solid #fff;
	border-bottom-width: 2px;

	padding-bottom: 3px;
}

.navbar-inverse .navbar-brand {
	color: #fff;
}

/*.navbar-collapse.collapse {
  display: block!important;
}

.navbar-nav>li, .navbar-nav {
  float: left !important;
}

.navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}

.navbar-right {
  float: right!important;
}*/

h2 {
	font-size: 64px;
	margin: auto;
	/*animation-name: questionslide;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;*/
}
/*@keyframes questionslide {
	0% {transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}*/


#deckselector {
	width: 600px;
}

/*.container {
	height: 200px;
	width: 1000px;
	background-color: white;
	margin: auto;
	margin-top: 50px;
}
*/
.title-container {
	height: 200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	padding-left: 5%;
	padding-right: 5%;
}

.helvetica {
	font-family: Helvetica;
}

.wt {
	color: #fff;
}

#newlink {
	color: #fff;
}

.centered {
	margin: 0 auto;
}

.btn-login {
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 40px;
  background: transparent;
  padding-left: 20px;
  padding-right: 20px;
}

.btn-login:hover {
  color: #333;
  background: rgb(255, 255, 255, 1);
  border: 2px solid rgb(255, 255, 255, 1);
}

.btn-play {
	border: 2px solid #333;
	color: #fff;
	font-size: 20px;
	background-color: #333;
	border-radius: 2px;
	box-shadow: 2px 2px 1px grey;
	margin-right: 50px;
	padding: 20px 35px;
	letter-spacing: 1px;
    line-height: 15px;
}

.btn-play:hover {
  color: #333;
  background: rgb(255, 255, 255, 1);
  border: 2px solid #333;
}

.btn-newdeck {
	border: 2px solid #333;
	color: #333;
	font-size: 20px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 2px 2px 1px grey;

	padding: 20px 35px;
	letter-spacing: 1px;
    line-height: 15px;
}

.btn-newdeck:hover {
  color: #fff;
  background: #333;
  border: 2px solid #333;
}

.items {
	float: left;
	height: 100px;
	width: 100px;
	margin: 10px 10px 10px 10px;
	text-align: center;
	border-radius: 5px;
	background-color: #333;
	font-size: 14px;
	color: white;
	padding-top: 2%;
	padding-left: 0.25%;
	padding-right: 0.25%;
}



.scoreboard {
	margin-top: 30px;
	text-align: center;
	font-size: 50px;
	color: #333;
}

.navbackground {
	background-color:#333;
}
.button {
	background-color: #333;
	border: none;
	height: 100px;
	width: 200px;
	font-family: 'Helvetica';
	font-size: 24px;
	color: white;
}

.decklist-btn {
	background-color: #333;
	color: white;
	height: 100px;
	width: 150px;
	border-radius: 8px;
	margin: 10px;
	
}

.decklist-newdeck-btn {
	background-color: #fff;
	color: lightgrey;
	height: 100px;
	width: 150px;
	border-radius: 8px;
	border: 4px dashed lightgrey;
	margin: 10px;
	font-size: 60px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}

.decklist-newdeck-btn:hover {
	border: 4px dashed #333;
	color: #333;
	text-decoration: none;

}

.addDeck {

}

.decklist-container {
	margin: auto;
	max-width: 700px;
	margin-top:40px;
}

.title {
	float: left;
	margin-left: auto;
	margin-right: auto;
	font-family: "Helvetica";
	width: 10%;
	text-align: center;
	border-radius: 5px;
	font-weight: 800;
	font-size: 6em;
	color: #333;
	padding: 30;
}

button:hover {
	background-color: grey;
}

button:focus {outline:0;}
